{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/swiper.style.css') }}">
{% endblock %}

{% block headScript %}
    <!-- TODO trouver plus recent-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- TODO trouver plus recent-->
    <script src="{{ asset('javascript/swiper.min.js') }}"></script>
    <script src="{{ asset('javascript/swiper.plugins.js') }}"></script>
    <script src="{{ asset('javascript/swiper.main.js') }}"></script>
{% endblock %}


{% block title 'Les spots' %}

{% block body %}

    <section>
        <div class="container">
            <div class="row">
                <div class="main_drag roomy-50">
                    <div class="col-md-12">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {% for spot in spots %}
                                <div class="swiper-slide" style="background-image:url({{ asset(urlImage ~ '/card.'~spot.id~'.jpg') }})"></div>
                                {%  endfor %}
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <h2>La liste</h2>
        <div class="row flex">
            {% for spot in spots %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('spot.show', {id: spot.id, slug: spot.slug}) }}">{{ spot.name }}</a>
                            </h5>
                            <p class="card-text">
                                <img src="{{ asset(urlImage ~ '/card.'~spot.id~'.jpg') }}">
                            </p>
                        </div>
                    </div>
                </div>
            {%  endfor %}
        </div>

{% endblock %}