<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/lapoiz.css') }}">

        <script src="{{ absolute_url(asset('javascript/jquery-3.4.1.min.js')) }}"></script>

        {% block stylesheets %}{% endblock %}
        {% block headScript %}{% endblock %}

        <!--<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>-->


        {% block headerElements %}{% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('home') }}">LaPoiz</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'presentation' %} active {% endif %}" href="{{ path('presentation.index') }}">
                            Présentations <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'spots' %} active {% endif %}" href="{{ path('spot.index') }}">
                            Les Spots <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% if current_menu is defined and current_menu == 'spot' %} active {% endif %}">
                            Liste des spots
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('spot.index') }}">St Aubin</a>
                            <a class="dropdown-item" href="#">Wissant</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"  aria-disabled="true">Nouveau</a>
                        </div>
                    </li>
                </ul>

                {% if app.user %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('admin_spot_index') }}" class="nav-link">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('admin_init_data_file') }}" class="nav-link">Gestion des données</a>
                        </li>

                        <li class="nav-item">
                            <a href="{{ path('admin_test') }}" class="nav-link">Test</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('logout') }}" class="nav-link">Se déconnecter</a>
                        </li>
                    </ul>
                {% else %}

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('login') }}" class="nav-link">Se connecter</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% block body %}{% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}

    </body>
</html>
