<html>
    <head>
        <meta charset="UTF-8">
    <!--
        <link rel="stylesheet" href="src={{ asset('css/bootstrap.min.css') }}">

        <script src="{{ asset('javascript/jquery-3.3.1.slim.min.js') }}"></script>
        <script src="{{ asset('javascript/highcharts.js') }}"></script>

        <link rel="stylesheet" href="{{ asset('css/leaflet.css') }}" />
        <script src="{{ asset('javascript/leaflet.js') }}" ></script>
-->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('fontawsome/css/all.css') }}">

        <script
                src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
                crossorigin="anonymous"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
              integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
              crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
                integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
                crossorigin=""></script>

        <link rel="stylesheet" href="{{ absolute_url(asset('css/lapoiz.card.css')) }}">

        <script type="text/javascript">
            // On initialise la latitude et la longitude de Paris (centre de la carte)
            var lat = {{ spot.gpsLat }};
            var lon = {{ spot.gpsLong }};
            var macarte = null;

            function initMap() {
                macarte = L.map('map', {
                    center: [lat, lon],
                    zoom: 9,
                    zoomControl: false
                });
                L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                    minZoom: 1,
                    maxZoom: 20
                }).addTo(macarte);
                L.marker([lat, lon]).addTo(macarte);

            }
            window.onload = function(){
                initMap();
            };
        </script>

    </head>

    <body>
        <div class="myCard">
        <div class="sub-card">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img src="{{ absolute_url(asset(urlImage ~ spot.id ~ '.png')) }}" width="120px"></td>
                            <td class="text-black-50">
                                <table>
                                    <tr>
                                        <td>
                                            {{ spot.name }} <br>
                                            <small class="text-muted">{{ spot.region.nom }}</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {% if spot.noteGeneral is not null %}
                                                {% from "spot/note.html.twig" import star %}
                                                {{ star(spot.noteGeneral) }}
                                            {%  endif %}
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>

        <div class="sub-card">
            <div id="map">
            </div>
        </div>

        <div class="sub-card bg-white text-white" style="position: fixed">
            <div >
                    {% from "maree/graph.html.twig" import graphMaree %}
                    {{ graphMaree(spot, "100","75",true, "white" ) }}
                    {% from "maree/restrictionJS.html.twig" import restrictionMaree %}
                    {{ restrictionMaree(spot) }}
            </div>
        </div>
    </div>
    </body>
</html>