{% extends 'base.html.twig' %}

{% block title 'Mon Spot' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Spot</h1>
        <p>Les spots actuellements dispo</p>
    </div>

    <div class="container">
            {% set numRegion = 0 %}
            {% set nbRegionParCol = 3 %}
            {% for regionTab in regions %}

                {% if numRegion is divisible by(nbRegionParCol) %}
        <div class="row flex classWithPad">
                {% endif %}

            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ regionTab["region"].nom }}
                        </h5>
                        {% for spot in regionTab["spots"] %}
                            <div class="row">
                                <div class="col-6">
                                    <a href="{{ path('spot.show', {id: spot.id, slug: spot.slug}) }}">{{ spot.name }}</a>
                                </div>
                                <div class="col-2">
                                    <a href="{{ path('spot.show', {id: spot.id, slug: spot.slug}) }}"><img src="{{ urlImage ~ spot.id ~ '.min.png' }}"></a>
                                </div>
                            </div>
                        {%  endfor %}
                    </div>
                </div>
            </div>

                {% if (numRegion+1) is divisible by(nbRegionParCol) %}
        </div>
                {% endif %}
                {% set numRegion = numRegion+1 %}
            {%  endfor %}

    {% if numRegion is not divisible by(nbRegionParCol) %}
        </div>
    {% endif %}

    </div>
{% endblock %}